generate-image-post (1).json
{
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1KuVSTqSLFhpHSalZGxAEq3dcZSiFrI25",
          "mode": "id"
        },
        "options": {}
      },
      "id": "65c2d19d-4ff0-4759-849b-e5a4b610d3a6",
      "name": "1. Download Avatar (Drive)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1136,
        496
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7AEyRDR1IXz6nUBI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Input Jadwal Konten",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Tema Postingan",
              "placeholder": "Masukkan tema postingan",
              "requiredField": true
            },
            {
              "fieldLabel": "Tanggal Posting",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Jam",
              "placeholder": "Format 24 Jam, cth: 14:30",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        112,
        240
      ],
      "id": "98eba71b-2827-4c41-95a8-71a73a9f4497",
      "name": "On form submission",
      "webhookId": "7275a71e-2225-4198-be42-148bf2cabdbf"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw",
          "mode": "list",
          "cachedResultName": "Posting_Medsos_Otomatis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 931616861,
          "mode": "list",
          "cachedResultName": "Jadwal_Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit#gid=931616861"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Tema": "={{ $json.body['Tema Postingan'] }}",
            "Waktu_Post": "={{ $json.body['Tanggal Posting'] }} {{ $json.body.Jam }}:00",
            "Status": "Pending",
            "Image_URL": "={{ $json.body['Image URL'] }}",
            "Account": "={{ $json.body['Account'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Waktu_Post",
              "displayName": "Waktu_Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        336,
        144
      ],
      "id": "37cc90a7-07cc-4fc5-bcc4-828d40ef0d2f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z9q8ziFjnZcW0mfJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw",
          "mode": "list",
          "cachedResultName": "Posting_Medsos_Otomatis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 931616861,
          "mode": "list",
          "cachedResultName": "Jadwal_Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit#gid=931616861"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        240,
        592
      ],
      "id": "879229d5-a91d-4113-9046-79f6d48aa972",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z9q8ziFjnZcW0mfJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d68010d-2b47-4184-913a-4467554f738d",
              "name": "Waktu_Post_Clean",
              "value": "={{ DateTime.fromFormat($json.Waktu_Post, 'yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        592
      ],
      "id": "e2056af6-8882-49fa-96a3-511dd134a886",
      "name": "Normalize Data "
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "72e50e57-d5b7-45af-b5dd-4cad0cee33de",
              "leftValue": "={{ $json.Waktu_Post_Clean }}",
              "rightValue": "={{ $now }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        592
      ],
      "id": "0862a21e-325a-4bde-b022-ce35b9a45e7f",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-image-url",
              "leftValue": "={{ $('Get row(s) in sheet').item.json.Image_URL || $('Get row(s) in sheet').item.json['Image URL'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        592
      ],
      "id": "645c37fb-fe4b-49ca-815e-eb688c39b746",
      "name": "Check Image URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "set-existing-url",
              "name": "url",
              "value": "={{ $('Get row(s) in sheet').item.json.Image_URL || $('Get row(s) in sheet').item.json['Image URL'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        816
      ],
      "id": "babc09fa-9a06-4005-9d8f-0c0b4a9c648c",
      "name": "Set Existing Image"
    },
    {
      "parameters": {},
      "id": "1f6eb03f-d76c-42de-828e-bf30ea59fc31",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1936,
        592
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Photography Director. \\n\\nAnalyze the attached image and write a strict physical description for a DALL-E 3 prompt.\\n\\nTARGET: The result must look like a REAL PHOTO posted on Instagram, NOT an art piece.\\n\\nFocus on:\\n1. **Age & Ethnicity:** Be precise (e.g., \\\"Young European male, approx 25 years old\\\").\\n2. **Specific Features:** Stubble/beard, hair texture, eye shape.\\n3. **Clothing:** Describe the exact clothes in the photo (e.g., \\\"Red Ferrari Polo shirt\\\").\\n\\nOutput ONLY the physical description. Do not add intro/outro."
            },
            {
              "content": "Analyze this person."
            },
            {
              "content": "={{ \"data:\" + $('1. Download Avatar (Drive)').item.binary.data.mimeType + \";base64,\" + $('1. Download Avatar (Drive)').item.binary.data.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b9f7c88e-583b-4654-b3f4-15bf044d9b41",
      "name": "2. Describe Avatar (GPT-4o)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1360,
        496
      ],
      "credentials": {
        "openAiApi": {
          "id": "QCPldoMCbpTlyIDH",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "input-jadwal1",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        112,
        48
      ],
      "id": "ca5b61d6-5d24-44ca-bf40-69d3da72e3a6",
      "name": "Webhook",
      "webhookId": "ce35f991-3a1a-48fc-83e0-e08138159195",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aRd4eM3fZvyi4dJQ",
          "name": "headerAuth"
        }
      }
    },
    {
      "parameters": {
        "path": "get-jadwal1",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1024,
        128
      ],
      "id": "02b4c0f4-1eac-4927-85b2-d32e29719373",
      "name": "Webhook GET",
      "webhookId": "4045e2d1-e149-4513-b895-904dd13a0d6e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aRd4eM3fZvyi4dJQ",
          "name": "headerAuth"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw",
          "mode": "list",
          "cachedResultName": "Posting_Medsos_Otomatis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 931616861,
          "mode": "list",
          "cachedResultName": "Jadwal_Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit#gid=931616861"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        128
      ],
      "id": "6d5a8dc2-499a-443a-9164-c9b224dafb1d",
      "name": "Get All Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z9q8ziFjnZcW0mfJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1472,
        128
      ],
      "id": "7da9d722-5253-45cb-835b-df01fbe7082d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## GET Schedule",
        "height": 288,
        "width": 880
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        848,
        0
      ],
      "typeVersion": 1,
      "id": "0124c0e2-dc7b-430e-b491-e04bb20f5945",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## POST Schedule",
        "height": 400,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "1711e298-fe89-46dc-8309-bebd2526dd9f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Generate Image",
        "height": 608,
        "width": 2608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        432
      ],
      "typeVersion": 1,
      "id": "29e4c349-cb57-4e1e-af14-5467c959a0e5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "preview-image1",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        16,
        1216
      ],
      "id": "92099e25-c8a9-4258-a8f0-a3c07b04bf23",
      "name": "Preview Webhook",
      "webhookId": "preview-webhook-id",
      "credentials": {
        "httpHeaderAuth": {
          "id": "aRd4eM3fZvyi4dJQ",
          "name": "headerAuth"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-tema-001",
              "name": "Tema",
              "value": "={{ $json.body.tema }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        1216
      ],
      "id": "48f1e785-1206-4759-a613-c7fae96612dc",
      "name": "Extract Tema"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1KuVSTqSLFhpHSalZGxAEq3dcZSiFrI25",
          "mode": "id"
        },
        "options": {}
      },
      "id": "d82b5654-f024-46e1-b81c-d8015c87b011",
      "name": "Download Avatar (Preview)",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        464,
        1216
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7AEyRDR1IXz6nUBI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "messages": {
          "values": [
            {
              "content": "You are a Photography Director. \\n\\nAnalyze the attached image and write a strict physical description for a DALL-E 3 prompt.\\n\\nTARGET: The result must look like a REAL PHOTO posted on Instagram, NOT an art piece.\\n\\nFocus on:\\n1. **Age & Ethnicity:** Be precise (e.g., \\\"Young European male, approx 25 years old\\\").\\n2. **Specific Features:** Stubble/beard, hair texture, eye shape.\\n3. **Clothing:** Describe the exact clothes in the photo (e.g., \\\"Red Ferrari Polo shirt\\\").\\n\\nOutput ONLY the physical description. Do not add intro/outro."
            },
            {
              "content": "Analyze this person."
            },
            {
              "content": "={{ \"data:\" + $('Download Avatar (Preview)').item.binary.data.mimeType + \";base64,\" + $('Download Avatar (Preview)').item.binary.data.data }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6926965a-3e83-47d8-a3f3-9c3fde2ee0b1",
      "name": "Describe Avatar (Preview)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        688,
        1216
      ],
      "credentials": {
        "openAiApi": {
          "id": "QCPldoMCbpTlyIDH",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1248,
        1216
      ],
      "id": "2a11a921-4971-4dab-b454-1837da96ffb9",
      "name": "Respond to Webhook Preview"
    },
    {
      "parameters": {
        "content": "## Ref\n\nhttps://www.youtube.com/watch?v=PjXYr6M4fjY"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        576,
        0
      ],
      "typeVersion": 1,
      "id": "da5d3007-0b09-4aa4-9df3-0615d5740ee9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Previwe Image",
        "height": 368,
        "width": 1472
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1072
      ],
      "typeVersion": 1,
      "id": "c7e12a03-3415-41e0-81d6-644bbc1977fa",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw",
          "mode": "list",
          "cachedResultName": "Posting_Medsos_Otomatis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 931616861,
          "mode": "list",
          "cachedResultName": "Jadwal_Mentah",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit#gid=931616861"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Done",
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Tema",
              "displayName": "Tema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Waktu_Post",
              "displayName": "Waktu_Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Account",
              "displayName": "Account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        496
      ],
      "id": "4d3aa340-8230-4a7e-856b-f4138795420a",
      "name": "Update Status to Done1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z9q8ziFjnZcW0mfJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Get row(s) in sheet').item.json.Account }}",
                    "rightValue": "jakaambisi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "40c889df-b6a0-4bf6-ae56-65d503aaecd1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "647c1c56-d5e0-4cdb-908c-c12fe863f239",
                    "leftValue": "={{ $('Get row(s) in sheet').item.json.Account }}",
                    "rightValue": "viravoyages",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1e377f28-3b33-49ad-b7be-d2013f3c615c",
                    "leftValue": "={{ $('Get row(s) in sheet').item.json.Account }}",
                    "rightValue": "karin.nova_",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2160,
        688
      ],
      "id": "999b9a33-0522-46eb-bec5-370bc17357d3",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw",
          "mode": "list",
          "cachedResultName": "Posting_Medsos_Otomatis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Image_URL": "={{ $json.url }}",
            "Caption": "={{ $('Get row(s) in sheet').item.json.Tema }} #AIArt #Automated"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2384,
        512
      ],
      "id": "40dde8d7-e5a4-40e7-8adb-bb8f34af460f",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z9q8ziFjnZcW0mfJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw",
          "mode": "list",
          "cachedResultName": "Posting_Medsos_Otomatis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1425114178,
          "mode": "list",
          "cachedResultName": "sheet2-karin",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit#gid=1425114178"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Image_URL": "={{ $json.url }}",
            "Caption": "={{ $('Get row(s) in sheet').item.json.Tema }} #AIArt #Automated"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2384,
        704
      ],
      "id": "04be3040-a4e3-472c-bd97-8f7294da917c",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z9q8ziFjnZcW0mfJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw",
          "mode": "list",
          "cachedResultName": "Posting_Medsos_Otomatis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1130880991,
          "mode": "list",
          "cachedResultName": "sheet3-vira",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tDSKiF45Sl1hZg78e5kmgVbNEHkn1WOMK7CIQwxcTyw/edit#gid=1130880991"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Image_URL": "={{ $json.url }}",
            "Caption": "={{ $('Get row(s) in sheet').item.json.Tema }} #AIArt #Automated"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Image_URL",
              "displayName": "Image_URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Caption",
              "displayName": "Caption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2384,
        896
      ],
      "id": "fa8a33ea-f0d5-45ae-bcf7-51d106e7d4b8",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Z9q8ziFjnZcW0mfJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        32,
        592
      ],
      "id": "b0be45dc-5085-4ff0-996d-7353f4d8643a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=A candid, realistic photograph of {{ $('2. Describe Avatar (GPT-4o)').item.json.content }}. \\n\\nThe person is currently: {{ $('Get row(s) in sheet').item.json.Tema }}.\\n\\nPHOTOGRAPHY SETTINGS (STRICT):\\n- Shot on iPhone 15 Pro or Sony A7R IV.\\n- Natural lighting, slightly imperfect framing (candid look).\\n- Skin texture must be visible (pores, slight stubble).\\n- Background: Real world location, depth of field (blurred background).\\n- NO 3D render, NO illustration, NO painting, NO plastic skin.\\n- The image should look like a casual social media post.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1648,
        496
      ],
      "id": "6743e0bc-e8ae-4f09-a176-bd83b113cc38",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "QCPldoMCbpTlyIDH",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "=A candid, realistic photograph of {{ $json.message.content }}. \\n\\nThe person is currently: {{ $('Extract Tema').item.json.Tema }}.\\n\\nPHOTOGRAPHY SETTINGS (STRICT):\\n- Shot on iPhone 15 Pro or Sony A7R IV.\\n- Natural lighting, slightly imperfect framing (candid look).\\n- Skin texture must be visible (pores, slight stubble).\\n- Background: Real world location, depth of field (blurred background).\\n- NO 3D render, NO illustration, NO painting, NO plastic skin.\\n- The image should look like a casual social media post.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1040,
        1216
      ],
      "id": "136d7913-2b4d-46c4-b77b-c3b9d2cf0c80",
      "name": "Generate an image1",
      "credentials": {
        "openAiApi": {
          "id": "QCPldoMCbpTlyIDH",
          "name": "OpenAi account 3"
        }
      }
    }
  ],
  "connections": {
    "1. Download Avatar (Drive)": {
      "main": [
        [
          {
            "node": "2. Describe Avatar (GPT-4o)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Normalize Data ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data ": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Image URL": {
      "main": [
        [
          {
            "node": "Set Existing Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "1. Download Avatar (Drive)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Existing Image": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Status to Done1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Describe Avatar (GPT-4o)": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET": {
      "main": [
        [
          {
            "node": "Get All Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Rows": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview Webhook": {
      "main": [
        [
          {
            "node": "Extract Tema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Tema": {
      "main": [
        [
          {
            "node": "Download Avatar (Preview)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Avatar (Preview)": {
      "main": [
        [
          {
            "node": "Describe Avatar (Preview)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Describe Avatar (Preview)": {
      "main": [
        [
          {
            "node": "Generate an image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image1": {
      "main": [
        [
          {
            "node": "Respond to Webhook Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "Preview Webhook": [
      {
        "headers": {
          "host": "irisnco.app.n8n.cloud",
          "user-agent": "node",
          "content-length": "17",
          "accept": "*/*",
          "accept-encoding": "gzip, br",
          "accept-language": "*",
          "cdn-loop": "cloudflare; loops=1; subreqs=1",
          "cf-connecting-ip": "2405:8180:403:dd66:d09c:312c:f515:d43",
          "cf-ew-via": "15",
          "cf-ipcountry": "ID",
          "cf-ray": "9b2e02819668e5ce-CGK",
          "cf-visitor": "{\"scheme\":\"https\"}",
          "cf-worker": "n8n.cloud",
          "content-type": "application/json",
          "sec-fetch-mode": "cors",
          "x-api-key": "Password123",
          "x-forwarded-for": "2405:8180:403:dd66:d09c:312c:f515:d43, 172.69.89.179",
          "x-forwarded-host": "irisnco.app.n8n.cloud",
          "x-forwarded-port": "443",
          "x-forwarded-proto": "https",
          "x-forwarded-server": "traefik-prod-users-gwc-29-677bf4754f-jwb4f",
          "x-is-trusted": "yes",
          "x-real-ip": "2405:8180:403:dd66:d09c:312c:f515:d43"
        },
        "params": {},
        "query": {},
        "body": {
          "tema": "debug1"
        },
        "webhookUrl": "https://irisnco.app.n8n.cloud/webhook/preview-image1",
        "executionMode": "production"
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4707a18444016fe2d0d9d067ea353e9096c70b5bf9db9010dee08ab32de2d8ec"
  }
}